<div class="container title-header">
    <span class="title container">Projects</span>
</div>
<div class="container">
    <h2 class="name"><a href="http://spyfall.alvinmanalastas.com">Spyfall</a></h2>
    <h4>Description</h4>
    A game where one player gets to be a spy and tries to understand what's going on around them. This is a digital version of the card game.
    <h4>Members</h4>
    <ul><li>Alvin Manalastas</li></ul>
    <h4>Tools used</h4>
    <ul>
        <li>Node.js</li>
        <li>Angular</li>
        <li>Socket.io</li>
    </ul>    
    <h2>Mirror Mirror</h2>
    <h4>Description</h4>
    A voice-controlled smart mirror that makes use of the APIs provided by the Voicebox developer portal. Supported apps include Spotify, Google Maps, Weather, Todoist, Pushbullet, api.ai.
    <h4>Members</h4>
    <ul><li>Alvin Manalastas</li></ul>
    <h4>Tools used</h4>
    <ul>
        <li>Node.js</li>
        <li>Angular</li>
        <li>Electron</li>
        <li>Snowboy</li>
        <li>Raspberry Pi 2</li>
    </ul>
    <h2>Voice Passport</h2>
    <h4>Description</h4>
    A winner of the “Best Use of Docusign API” award at the 2017 Seattle Def Hacks, Voice Passport allowed users to automate signing documents using their unique voice. This application implements Microsoft’s Cognitive Services to authenticate the user’s voice and the user’s secret phrase.
    <h4>Members</h4>
    <ul>
        <li>Alvin Manalastas</li>
        <li>Campion Fellin</li>
    </ul>
    <h4>Tools used</h4>
    <ul>
        <li>Node.js</li>
        <li>Selenium</li>
        <li>PhantomJS</li>
    </ul>
</div>