.nav li a {
    color: rgba(0, 0, 0, 0.80);
    text-transform: lowercase;
}

.navbar li a:hover {
    background-color: white;
    color: #a212d1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navbar-brand {
    color: #a212d1;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: #a212d1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.icon-bar {
    background-color: black;
}

footer {
    padding-top: 40px;
    text-align: center;
}

footer a {
    color: rgba(0, 0, 0, 0.80);
}

footer a:hover {
    color: #a212d1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}